@import '../../../styles/settings.scss';

.container {
  // margin-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 90%;
}
