@import '../../../styles/settings.scss';

.root {
  .paper {
    margin: 5px;
    padding: 4px;
    color: grey;
    text-decoration: none;
  }

  .links {
    color:black;
    text-decoration: none;

    &:hover,
    &.active {
      color: black;
      text-decoration: none;
    }
  }

}


